html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#mapContainer {
  overflow: visible;
  width: 700px;
  height: 300px;
  display: inline-block;
}

.mapbox-ctrl-geocoder{
  width: 100%!important;
}
